.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url("../../assets/banner/banner01.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #e5e5e56b;

    display: flex;
    justify-content: center;
    align-items: center;

}

.title-navbar {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
}

.hero-lista {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.valor {
    font-size: 16px;
    font-weight: 700;
    font-family: "roboto", sans-serif;
    color: #ff8900ff;
}

.parcela {
    font-size: 12px;
    font-weight: 400;
    font-family: "roboto", sans-serif;
    color: lightgray;
}